body {
  

}

.container-fluid {
  background-color: #D5C7BC;
  padding: 2em;
  margin-bottom: .5em;
}

.container-fluid h1,h3 {
  text-align: center;
}

.container-fluid div[class*='col'] {
  padding: 3em;
  text-align: left;
}

#contact-form {
  padding: 2em 1.5em;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#contact-form fieldset {
  font-size: 1em;
  color: grey;
  margin-top: 1em;
}

#contact-email {
  display: block;
  width: 60%;
  float: left;
  margin-bottom: 5px;
}

#contact-date, #contact-
