/* Test font */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400');

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #2F243A;
  margin-bottom: .5em;
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size:2em;
  color: #2F243A;
  margin-bottom: 1.5em;
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #2F243A;
  margin-bottom: .8em;
  text-align: left;
}

h4 {
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  color: #2F243A;
  margin-bottom: 0px;
  text-align: left;
}

/*Text Menu Styling*/
.menu-container body {
  font-size: 18px;
  color: #444054
}

.menu-container h2 {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  color: #2F243A;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 0px;
}

.menu-container h3 {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #2F243A;
  margin-bottom: 0px;
  text-align: left;
}

/* Page Header styling */

header {
  position: fixed;
  top:0;
  z-index: 9999;
  width: 100%;
  /* background-image: url("../img/632532-PO9GJG-427.jpg");
  background-size: cover; */
  font-family: 'Pacifico', cursive;
  text-align: center;
  transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  margin-bottom: 0px;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

header h1 {
  font-size: 3em;
}

#page-header {
  padding-bottom: 1em;
}

nav.navbar.navbar-expand-lg {
  padding-top: 2em;
  font-family: sans-serif;
  font-size: 1.5em;
}

#logo {
  align: center;
  height: 200px;
  width: 200px;
}

.container-marketing {
  padding-top: 500px;
}

.center-pills {
  display: inline-block;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.card-deck {
  padding-top: 500px;
  display:inline-block;
}

/* Container styling */
.container-fluid {
  background-color: white;
  padding: 3em;
}

.container-fluid h1,h3 {
  text-align: center;
}

.container-fluid h4 {
  padding: 1.5em 0em .5em;
}

/* Button Styling*/
.btn.btn-primary {
  background-color: #DB8A74;
  border: #DB8A74;
}

.btn.btn-primary:hover {
  color: #2F243A;
}

/* Outer Background Menu Styling*/
.menu-container {
  padding: 15px 30px;
  margin: 40px;
  background-color: #DB8A74;
  border-radius: 20px;
}

/* Inner Background Menu Styling*/
.menu-inner-container {
  color: #444054;
  padding: 15px 15px;
  background-color: #FAC9B8;
  border-radius: 20px;
}

/* Horizontal Line Divider Menu Styling*/
.menu-container hr {
  background-color: #2F243A;
  height: 1px;
}

/* Unordered and Ordered Lists Menu Styling*/
.menu-container ul, ol {
  margin-top: 0px;
}

/* List Items Menu Styling*/
.menu-container li {
  color: #A06555;
}

/*card styling*/

.card

/* Food and Cost Menu Styling*/
.food-cost span {
  display: inline-block;
  margin-bottom: 0px;
}

.right {
  float: right;
  color: #686666;
}

.left {
  float: left;
}

/* Footer Menu Styling*/
.menu-footer {
  text-align: center;
}

/* Contact form styling */
#contact-form {
  padding: 2em .5em;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#contact-form fieldset {
  font-size: 1em;
  color: grey;
  margin-top: 1em;
}

#map {
  width:100%;
  height: 400px;
  background-color: grey;
}

/*Styling for gallery and carousel*/

#photo-margin{
  max-width: 1300px;
  margin:auto;
  padding-top: 500px;
}

.gallery-image{
  padding-top: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  border-radius: 20px;
}

.carousel-inner > .item > img {
  width:100%;
  height:300px;
}



.shrink {
  text-align: center;
  height:125px;
  padding:20px 0;
  font-size: 15px;


}
