/* Container styling */
.container-fluid {
  background-color: #D5C7BC;
  padding: 3em;
  margin-bottom: .5em;
}

.container-fluid h1,h3 {
  text-align: center;
}

.container-fluid h4 {
  padding: 1.5em 0em .5em;
}

/* Contact form styling */
#contact-form {
  padding: 2em .5em;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#contact-form fieldset {
  font-size: 1em;
  color: grey;
  margin-top: 1em;
}
