@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #2F243A;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  color: #2F243A;
  text-decoration: underline;
  margin-bottom: 0px;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #2F243A;
  margin-bottom: 0px;
  text-align: left;
}

body {
  font-size: 18px;
  color: #444054
}

li {
  color: #A06555;
}
